---
layout: default
title: Home
id: abc
---

<div id="main">
	<div class="inner">
		<header>
			<h1>{{site.title}}</h1>
			<p>Stories of travel and tech</p>
		</header>
		<section class="tiles">
			{% assign postCount = '0' %}
			{% for post in site.sections %}
			{% capture postCount %}{{ postCount | plus: '1' }}{% endcapture %}
			{% if postCount contains '7' %}
			{% assign postCount = '1' %}
			{% endif %}

			<article class="style{{ postCount }}">
				<span class="image">
					<img src="{{post.tileImage}}" alt="" />
				</span>
				<a href="{{post.url}}">
					<h2>{{post.title}}</h2>
					<div class="content">
						<p>{{post.summary}}</p>
					</div>
				</a>
			</article>

{% endfor %}

		</section>
	</div>
</div>
