

        {% include header.html %}
				<!-- Menu -->
					{% include menu.html %}

				<!-- Main -->
        <!-- Main -->
          <div id="main">
            <div class="inner">
              <span class="image main"><img src="{{page.mainImage}}" alt="" /></span>
                    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                    <p class="author">
                      <span class="date">{{ page.date }}</span>
                    </p>
                    <div class="content">
                      {{ page.content }}
                    </div>
              </div>
          </div>

				<!-- Footer -->
        {% include footer.html %}

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>
