

        {% include header.html %}
				<!-- Menu -->
				{% include menu.html %}

        <!-- Main -->
          <div id="main">
            <div class="inner">
              <span class="image main"><img src="{{page.mainImage}}" alt="" /></span>
                    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                    <p class="author">
                      <span class="date">{{ page.date }}</span>
                    </p>
                    <div class="content">
                      {{ page.content }}
                    </div>
                    <!-- <span class="content">
                      {% if page.previous != nil %}
                      <a href={{page.previous.url}} style="padding-right:10px">< Previous</a>
                      {% endif %}
                      {% if page.next.url != nil %}
                      <a href={{page.next.url}}>Next > </a>
                      {% endif %}
                    </span>-->
                    {% include postList.html %}
              </div>
          </div>

				<!-- Footer -->
        {% include footer.html %}

			</div>
      {% include scripts.html %}
	</body>
</html>
